.my-profile {
    text-align: center;
}

.my-cover {
    width: 100vw;
}

.profile-image {
    border-radius: 100%;
    width: 400px;
    height: 400px;
}

.button {
    margin: 1em;
    cursor: pointer;
}

.icon { 
    width: 30px;
    height: 30px;
    cursor: pointer;
}